.git
.gitignore
.gitattributes
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

**/vendor
**/node_modules
Admin/.angular
Admin/coverage
Admin/dist
BackEnd/.phpunit.cache
BackEnd/bootstrap/cache/*.php
BackEnd/public/admin/browser
BackEnd/public/build
BackEnd/storage/logs/*

Template
FrontEndTemplate
SourceIntegrations

coverage
playwright-report
test-results
*.log
