<nav
  class="horizontal-navigation"
  [class.compact]="density() === 'compact'"
  [class.mini]="density() === 'mini'"
>
  @for (item of menuItems; track item.id) {
    @if (item.route) {
      <a
        mat-button
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
    } @else {
      <div class="menu-group">
        <button mat-button type="button">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
          <mat-icon class="expand-icon">expand_more</mat-icon>
        </button>
        <div class="dropdown">
          @for (child of item.children ?? []; track child.id) {
            <button mat-button type="button" disabled>
              <mat-icon>{{ child.icon }}</mat-icon>
              <span>{{ child.label }}</span>
            </button>
          }
        </div>
      </div>
    }
  }
</nav>
