<nav
  class="horizontal-navigation"
  [class.compact]="density() === 'compact'"
  [class.mini]="density() === 'mini'"
>
  @for (item of menuItems; track item.id) {
    @if (item.route && canSee(item)) {
      <a
        mat-button
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon [style.--menu-icon-color]="item.iconColor">{{ item.icon }}</mat-icon>
        <span>{{ item.labelKey | hvT }}</span>
      </a>
    } @else if (!item.route && canSeeGroup(item)) {
      <div class="menu-group">
        <button mat-button type="button">
          <mat-icon [style.--menu-icon-color]="item.iconColor">{{ item.icon }}</mat-icon>
          <span>{{ item.labelKey | hvT }}</span>
          <span class="expand-icon-slot" aria-hidden="true">
            <mat-icon class="expand-icon">expand_more</mat-icon>
          </span>
        </button>
        <div class="dropdown">
          @for (child of item.children ?? []; track child.id) {
            @if (canSee(child)) {
              @if (child.route) {
                <a mat-button [routerLink]="child.route" routerLinkActive="active">
                  <mat-icon [style.--menu-icon-color]="child.iconColor">{{ child.icon }}</mat-icon>
                  <span>{{ child.labelKey | hvT }}</span>
                </a>
              } @else {
                <button mat-button type="button" disabled>
                  <mat-icon [style.--menu-icon-color]="child.iconColor">{{ child.icon }}</mat-icon>
                  <span>{{ child.labelKey | hvT }}</span>
                </button>
              }
            }
          }
        </div>
      </div>
    }
  }
</nav>
